# ─── Environment ──────────────────────────────────────────────────────────────
.env
.env.local
.env.*.local
**/.env
**/backend/.env
**/backend1/.env
**/frontend/.env


# ─── Node ─────────────────────────────────────────────────────────────────────
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ─── Build outputs ────────────────────────────────────────────────────────────
dist/
build/
.dist/

# ─── Editor ───────────────────────────────────────────────────────────────────
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ─── OS ───────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
